{% extends 'base.html' %}
{% load static %}
{% block title %} {{ title|capfirst }} {% endblock %}
{% block menu %}
    {% include 'ecology/includes/menu_second.html' %}
{% endblock %}
{% block content %}
    <div>
        <h1>{{ collection }}</h1>
        {% for w in waste %}
            <h1>{{ w.code }}</h1>
            <p>{{ w.name }}</p>
            <p>{{ wa.name }} </p>
            <p>{{ w.danger_class }}</p>
            <p>{{ data }}</p>

            <img src="{{ w.picture.url }}" height="100" width="100" alt="Картинка не загружена">
            {% if not forloop.last %}
                <hr>
            {% endif %}
        {% endfor %}
    </div>

{% endblock %}